body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000; /* Changed to black */
    color: #FFFFFF; /* Sets default text color to white */
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevents scrollbars when moving the timer */
}

#timer-container {
    transition: left 5s, top 5s;
    position: absolute;
}

#timer,
#date,
#charge,
#weather {
    font-size: 1.5em;
    color: #FFFFFF;
}
