body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000; /* Changed to black */
    color: #FFFFFF; /* Sets default text color to white */
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevents scrollbars when moving the timer */
}

#timer-container {
    position: absolute; /* Allows us to move the container around */
}

#timer {
    font-size: 2em;
    color: #FFFFFF;
}

#date {
    font-size: 2em;
    color: #FFFFFF;
}
